{% load i18n %}
{% autoescape off %}
Otrzymałeś/aś tę wiadomość e-mail, ponieważ poprosiłeś/aś o zresetowanie hasła do konta użytkownika na platformie Monify-App.

Kliknij w poniższy link, aby przejść do widoku zmiany hasła.
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Twoja nazwa użytkownika: {{ user.get_username }}

Jeśli to nie Ty resetowałeś hasło, zignoruj tą wiadomość.

Pozdrawiamy,
Zespół Monify-App

{% endautoescape %}
