{% extends 'register_base.html' %}

{% block content %}
  <div class="mb-5">
    <h3 class="text-center font-bold text-3xl text-gray-700">
      Zresetuj hasło
    </h3>
  </div>
  {% if messages %}
  <div class="mb-2">
    {% for message in messages %}
    <div
      class="flex{% if message.tags == 'warning' %} bg-red-200{% elif message.tags == 'success' %} bg-green-200 {% endif %} rounded-lg"
    >
      <p
        class="mx-auto px-2 py-2 text-xl{% if message.tags == 'warning' %} text-red-600{% elif message.tags == 'success' %} text-green-600 {% endif %}"
      >
        {{ message }}
      </p>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="mt-10">
    <form class="flex flex-col" action="" method="POST">
      {% csrf_token %}
      <div class="mb-3 pt-3 rounded bg-gray-200">
        <input
          type="password"
          class="login-input"
          placeholder="Nowe hasło"
          name="new_password1"
          autocomplete="new-password"
          required=""
          id="id_new_password1"
        />
      </div>
      <ul class="mb-5 list-disc ml-7">
          <li>Twoje hasło musi zawierać co najmniej 8 znaków</li>
          <li>Twoje hasło musi zawierać co najmniej 1 dużą literę</li>
          <li>Twoje hasło musi zawierać co najmniej 1 cyfrę</li>
          <li>Twoje hasło nie może składać się tylko z cyfr</li>
      </ul>
      <div class="mb-6 pt-3 rounded bg-gray-200">
        <input
          type="password"
          class="login-input"
          placeholder="Potwierdź nowe hasło"
          name="new_password2"
          autocomplete="new-password"
          required=""
          id="id_new_password2"
        />
      </div>
      <button
        type="submit"
        class="bg-purple-600 hover:bg-purple-700 text-purple-50 font-bold py-2 rounded-full shadow-lg hover:shadow-xl transition duration-200"
      >
        Zresetuj swoje hasło
      </button>
    </form>
  </div>
{% endblock %}
