{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
</head>
<body class="bg-purple-600 min-h-screen pt-5 pb-5 px-2 md:px-0">
    <div class="mx-auto">
        <a href="{% url 'website:index' %}">
            <img src="{% static 'img/loogowhite.png' %}" class="mx-auto w-28 h-28" alt="" />
        </a>
    </div>
    <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-8 rounded-lg shadow-2xl">
        <section class="">
            <div class="mb-5">
                <h3 class="text-center font-bold text-3xl text-gray-700">Wysłano email</h1>
            </div>
                <div class="mb-2">
                    <div class="flex bg-blue-200 rounded-lg">
                        <p class="mx-auto px-2 py-2 text-lg text-blue-600">Wysłano email z instrukcjami do zresetowania hasła.</p>
                    </div>
                </div>
        </section>
    </main>
</body>
</html>