{% extends 'register_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}

        {% block title %}
        <div>
            <h3 class="font-bold text-3xl text-gray-700">Zarejestruj się</h3>
        </div>
        {% endblock %}
        {% block content %}
          <form class="flex flex-col" action="" method="POST">
            {% csrf_token %}
            <div class="mb-6 pt-3 rounded bg-gray-200">
              {% render_field form.first_name class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-gray-600 transition duration-500 px-3 pb-3" placeholder="Imię" type="text" maxlength="70" %}
            </div>
            <div class="mb-6 pt-3 rounded bg-gray-200">
              {% render_field form.last_name class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-gray-600 transition duration-500 px-3 pb-3" placeholder="Nazwisko" type="text" maxlength="70" %}
            </div>
            <div class="mb-6 pt-3 rounded bg-gray-200">
              {% render_field form.email class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-gray-600 transition duration-500 px-3 pb-3" placeholder="Adres email" type="email" maxlength="255" %}
              <div class="bg-white invalid-feedback">
                <span class="text-red-600">{{ form.email.errors|first }}</span>
              </div>
            </div>
            <div class="mb-6 pt-3 rounded bg-gray-200">
              {% render_field form.password1 class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-gray-600 transition duration-500 px-3 pb-3" id="password1" placeholder="Hasło" type="password" %}
              <div class="bg-white invalid-feedback">
                <span class="text-red-600">{{ form.password1.errors|first }}</span>
              </div>
            </div>
            <ul class="mb-5 list-disc ml-7">
                <li>Twoje hasło musi zawierać co najmniej 8 znaków</li>
                <li>Twoje hasło musi zawierać co najmniej 1 dużą literę</li>
                <li>Twoje hasło musi zawierać co najmniej 1 cyfrę</li>
                <li>Twoje hasło nie może składać się tylko z cyfr</li>
              </ul>
            <div class="mb-6 pt-3 rounded bg-gray-200">
              {% render_field form.password2 class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-gray-600 transition duration-500 px-3 pb-3" id="password2" placeholder="Potwierdź hasło" type="password" %}
              <div class="bg-white invalid-feedback">
                <span class="text-red-600">{{ form.email.password2|first }}</span>
              </div>
            </div>
            <div class="mb-6">
                <input
                  type="checkbox"
                  class="w-4 h-4 text-gray-600 bg-gray-100 accent-gray-400 rounded border-gray-300 focus:ring-gray-500"
                  id="show-password"
                  name="show-password"
                />
                <label
                  class="ml-2 text-md font-medium text-gray-700"
                  for="show-password"
                  >Pokaż hasła</label
                >
            </div>
            <div class="flex justify-end">
              <a
                class="text-sm text-gray-700 hover:text-gray-700 hover:underline mb-6"
                href="{% url 'accounts:login' %}"
                >Masz konto? Zaloguj się</a
              >
            </div>
            <button
              type="submit"
              class="bg-purple-600 hover:bg-purple-700 text-purple-50 font-bold py-2 rounded-full shadow-lg hover:shadow-xl transition duration-200"
            >
              Zarejestruj się
            </button>
          </form>
          {% endblock %}

    {% block js %}
    <script>
        var toggle = document.querySelector( "#show-password" );
        var password1 = document.querySelector( "#password1" );
        var password2 = document.querySelector( "#password2" );
        toggle.addEventListener( "click", handleToggleClick, false );
        function handleToggleClick( event ) {
            if ( this.checked ) {
                password1.type = "text";
                password2.type = "text";
            } else {
                password1.type = "password";
                password2.type = "password";
            }
        }
    </script>
    {% endblock %}

{% endwith %}
