{% extends 'index_base.html' %}
{% load static %}
{% block content %}

  <section>
    <h1 class="my-7 mx-16 text-4xl md:text-5xl text-gray-600">
      Jak działa Monify-App
    </h1>
    <div class="flex flex-col mx-10 my-7 md:mx-20 w-3/4">
      <div class="flex flex-row my-6 md:my-12">
        <img src="{% static 'img/1.png' %}" class="mx-5 my-auto" alt="Number one in circle" />
        <h1 class="my-auto text-xl md:text-2xl text-gray-500 w-3/4">
          Zarejestruj się lub zaloguj jeśli posiadasz już konto.
        </h1>
      </div>
      <div class="flex flex-row-reverse my-6 md:my-12">
        <img src="{% static 'img/2.png' %}" class="mx-5 my-auto" alt="Number two in circle" />
        <h1 class="my-auto text-xl md:text-2xl text-gray-500 w-3/4">
          Po zalogowaniu zostaniesz przekierowany/a na stronę główną naszej
          aplikacji, gdzie będziesz miał/a dostęp do najważniejszych informacji o
          swoich finansach.
        </h1>
      </div>
      <div class="flex flex-row my-6 md:my-12">
        <img src="{% static 'img/3.png' %}" class="mx-5 my-auto" alt="Number three in circle" />
        <h1 class="my-auto text-xl md:text-2xl text-gray-500 w-3/4">
          Po kliknięciu w ikonę użytkownika (obok twojego imienia i nazwiska) w
          prawym górnym rogu ekranu rozwinie się menu, wybierz &bdquo;Profil&rdquo;.
        </h1>
      </div>
      <div class="flex flex-row-reverse my-6 md:my-12">
        <img src="{% static 'img/4.png' %}" class="mx-5 my-auto" alt="Number four in circle" />
        <h1 class="my-auto text-xl md:text-2xl text-gray-500 w-3/4">
          Pojawi się widok ustawienia profilu użytkownika, można tam zmienić
          metodę oszczędzania oraz walutę.
        </h1>
      </div>
      <div class="flex flex-row my-6 md:my-12">
        <img src="{% static 'img/5.png' %}" class="mx-5 my-auto" alt="Number five in circle" />
        <h1 class="my-auto text-xl md:text-2xl text-gray-500 w-3/4">
          W zakładce &bdquo;Statystyki&rdquo; mamy dostęp do szczegółowych wykresów na temat
          naszych przychodów oraz wydatków.
        </h1>
      </div>
      <div class="flex flex-row-reverse my-6 md:my-12">
        <img src="{% static 'img/6.png' %}" class="mx-5 my-auto" alt="Number six in circle" />
        <h1 class="my-auto text-xl md:text-2xl text-gray-500 w-3/4">
          W zakładce &bdquo;Konta&rdquo; mamy dostęp do naszych kont, które możemy tam dodawać,
          usuwać oraz edytować. Po zarejestrowaniu dostępnę są dwa konta - &bdquo;Karta&rdquo;
          oraz &bdquo;Gotówka&rdquo;.
        </h1>
      </div>
      <div class="flex flex-row my-6 md:my-12">
        <img src="{% static 'img/7.png' %}" class="mx-5 my-auto" alt="Number seven in circle" />
        <h1 class="my-auto text-xl md:text-2xl text-gray-500 w-3/4">
          W zakładce &bdquo;Transakcje&rdquo; mamy dostęp do wydatków oraz przychodów, gdzie
          możemy je dodawać, usuwać i edytować.
        </h1>
      </div>
      <div class="flex flex-row-reverse my-6 md:my-12">
        <img src="{% static 'img/8.png' %}" class="mx-5 my-auto" alt="Number eight in circle" />
        <h1 class="my-auto text-xl md:text-2xl text-gray-500 w-3/4">
          W zakładce &bdquo;Przegląd postępów&rdquo; możemy sprawdzić nasze wyniki pod względem
          wybranej metody oszczędzania.
        </h1>
      </div>
    </div>
  </section>

{% endblock %}
