{% extends 'index_base.html' %}
{% load static %}
{% block content %}

  <!-- Content -->
  <div class="container">
    <!-- Title -->
    <h1 class="text-4xl my-8 mx-10 text-gray-600">
      Informacje o metodach oszczędzania
    </h1>

    <!-- First method -->
    <div id="method-50-30-20" class="text-gray-600">
      <h1 class="text-3xl font-bold my-5 mx-10">Metoda 50/30/20</h1>
      <p class="text-lg mx-10">
        Metodę tą opracowała prof. Elizabeth Warren, która została wymieniona
        wśród 100 najbardziej wpływowych osób w USA na liście magazynu TIME.
        Metoda 50/30/20 jest jedną z najpopularniejszcyh metod oszczędzania
        pieniędzy. Metoda ta pozwala na wyrobienie właściwych nawyków finansowych
        oraz pozwala na łatwe kontrolowanie swoich wydatków.
      </p>
      <h2 class="text-2xl my-5 mx-10">Na czym polega metoda 50/30/20?</h2>
      <p class="text-lg mx-10">
        Metoda 50/30/20 polega na podziale naszych miesięcznych dochodów na 3
        części:
      </p>
      <ul class="text-lg md:ml-24 ml-16 md:mr-40 mr-10 list-disc">
        <li class="my-5">
          I - 50% przychodów - niezbędne wydatki - opłata za mieszkanie, spłata
          kredytów, rachunki, higiena, koszty leczenia i leki, kosmetyki, wydatki
          na szkołe i przedszkole, jedzenie i picie, transport, ubezpieczenie,
          samochód, parking i opłaty, karma dla zwierząt
        </li>
        <li class="my-5">
          II - 30% przychodów - przyjemności i rozrywka (zbędne wydatki) -
          restauracje, puby i bary, kluby, filmy, gry, muzyka, subskrypcje,
          elektronika, kino i teatr, wyjście ze znajomymi, wakacje, zabawa,
          koncert, rozrywka, dekoracje, meble, atrakcje/wypoczynek, zakupy
        </li>
        <li class="my-5">
          III - 20% przychodów - oszczędności i inwestycje - akcje, kryptowaluty,
          nieruchomości, dochód pasywny, fundusze, oszczędności, wpłata na lokate,
          inwestycja w surowce
        </li>
      </ul>
      <h2 class="text-2xl my-5 mx-10">Zalety metody 50/30/20</h2>
      <ul class="text-lg md:ml-20 ml-14 md:mr-40 mr-10">
        <li class="my-5">
          <span class="mr-3">👍</span> łatwa oraz nie restrykcyjna
        </li>
        <li class="my-5">
          <span class="mr-3">👍</span> główne założenie polega na unikaniu
          drobnych wydatków
        </li>
        <li class="my-5">
          <span class="mr-3">👍</span> uwzględnia wydatki na pasje oraz hobby
        </li>
        <li class="my-5">
          <span class="mr-3">👍</span> pozwala na efektywne oraz szybkie budowanie
          oszczędności
        </li>
      </ul>
      <h2 class="text-2xl my-5 mx-10">Wady metody 50/30/20</h2>
      <ul class="text-lg md:ml-20 ml-14 md:mr-40 mr-10">
        <li class="my-5">
          <span class="mr-3">👎</span> ciężko jednoznacznie określić co jest
          zbędne, a co niezbędne
        </li>
        <li class="my-5">
          <span class="mr-3">👎</span> nie jest przeznaczona dla wszystkich (np.
          czynsz może pochłaniać powyżej 50% naszych dochodów)
        </li>
      </ul>
    </div>

    <!-- Second method -->
    <div id="6-jars-method" class="text-gray-600 mb-12">
      <h1 class="text-3xl font-bold mt-10 mb-5 mx-10">Metoda 6 słoików</h1>
      <p class="text-lg mx-10">
        Metodę 6 słoików opracował T. Harv Eker, biznesmen, pisarz i mówca
        motywacyjny. Jest ona jedną z najpopularniejszcyh metod oszczędzania
        pieniędzy. Metoda polega na podziale miesięcznego dochodu na 6 części
        nazywanych &bdquo;słoikami&rdquo;. W momencie, gdy dostajemy wypłatę dzielimy ją na 6
        części i odpowiednio umieszczamy w tytułowych &bdquo;słoikach&rdquo; lub na
        oddzielnych kontach bankowych, przeznaczonych do poszczególnych kategorii.
      </p>
      <h2 class="text-2xl my-5 mx-10">Na czym polega metoda 6 słoików?</h2>
      <p class="text-lg mx-10">
        Metoda 6 słoików polega na podziale naszych miesięcznych dochodów na 6
        części (&bdquo;słoików&rdquo;):
      </p>
      <ul class="text-lg md:ml-24 ml-16 md:mr-40 mr-10 list-disc">
        <li class="my-5">
          I słoik - 55% przychodów - niezbędne wydatki - opłata za mieszkanie,
          spłata kredytów, rachunki, higiena, koszty leczenia i leki, kosmetyki,
          wydatki na szkołe i przedszkole, jedzenie i picie, transport,
          ubezpieczenie, samochód, parking i opłaty, karma dla zwierząt
        </li>
        <li class="my-5">
          II słoik - 10% przychodów - duże/niespodziewane wydatki - duże zakupy,
          remont, wymiana sprzętów domowych, wakacje, niespodziewane wydatki(np.
          koszty lecznicze, naprawa samochodu), mandat, kary
        </li>
        <li class="my-5">
          III słoik - 10% przychodów - przyjemności i rozrywka - restauracje, puby
          i bary, kluby, filmy, gry, muzyka, subskrypcje, elektronika, kino i
          teatr, wyjście ze znajomymi, wakacje, zabawa, koncert, rozrywka,
          dekoracje, meble, atrakcje/wypoczynek, zakupy
        </li>
        <li class="my-5">
          IV słoik - 10% przychodów - edukacja - książki, kursy, szkolenia,
          mentoring
        </li>
        <li class="my-5">
          V słoik - 10% przychodów - oszczędności i inwestycje - spłata kredytów,
          akcje, kryptowaluty, nieruchomości, dochód pasywny, fundusze,
          oszczędności, wpłata na lokate, surowce, obligacje
        </li>
        <li class="my-5">
          VI słoik - 5% przychodów - pomoc innym/dobroczynność - datki na
          fundacje, pomoc potrzebującym, prezenty
        </li>
      </ul>
      <h2 class="text-2xl my-5 mx-10">Zalety metody 6 słoików</h2>
      <ul class="text-lg md:ml-20 ml-14 md:mr-40 mr-10">
        <li class="my-5">
          <span class="mr-3">👍</span> dobrze zbalansowany rozkład dochodów
        </li>
        <li class="my-5"><span class="mr-3">👍</span> bardzo efektywna</li>
        <li class="my-5"><span class="mr-3">👍</span> efektywna</li>
      </ul>
      <h2 class="text-2xl my-5 mx-10">Wady metody 6 słoików</h2>
      <ul class="text-lg md:ml-20 ml-14 md:mr-40 mr-10">
        <li class="my-5">
          <span class="mr-3">👎</span> bardziej restrykcyjna od metody 50/30/20
        </li>
        <li class="my-5">
          <span class="mr-3">👎</span> duża ilość części (konieczność trzymania
          pieniędzy np. na 6 oddzielnych kontach )
        </li>
        <li class="my-5"><span class="mr-3">👎</span> duża ilość części</li>
      </ul>
    </div>
  </div>
{% endblock %}
