{% extends 'index_base.html' %}
{% load static %}
{% block content %}
<section id="hero">
    <div class="flex flex-col md:flex-row mx-auto w-full bg-gradient-to-b from-white to-purple-400 min-h-screen lg:min-h-[91vh]">
      <div
        class="flex flex-col mx-auto my-auto space-y-12 items-center"
      >
        <h1
          class="max-w-md text-center uppercase text-9xl font-bold text-gray-600"
        >
          Ups!
        </h1>
        <p
          class="max-w-md text-center uppercase text-3xl font-bold text-gray-600"
        >
          Nie udało nam się znaleźć strony, której szukasz!
        </p>
        <p
            class="max-w-md text-center uppercase text-lg text-gray-600"
        >
            Poniżej znajdziesz kilka pomocnych linków
        </p>
        <ul
            class="max-w-md uppercase text-lg text-white"
        >
            <li class="mb-3"><a class="hover:underline" href="{% url 'website:index' %}">Strona główna</a></li>
            <li class="mb-3"><a class="hover:underline" href="{% url 'website:app_info' %}">Jak działa Monify-App</a></li>
            <li class="mb-3"><a class="hover:underline" href="{% url 'website:methods_info' %}">Informacje o metodach oszczędzania</a></li>
            <li class="mb-3"><a class="hover:underline" href="{% url 'accounts:login' %}">Zaloguj się</a></li>
            <li class="mb-3"><a class="hover:underline" href="{% url 'accounts:register' %}">Zarejestruj się</a></li>
        </ul>
      </div>
      <div
        class="md:flex flex-col hidden mx-auto my-auto md:space-y-12 items-center"
      >
        <img src="{% static 'img/purplelogo.png' %}" class="mx-auto w-80 h-72" alt="Purple logo Monify-App" />
      </div>
    </div>
</section>

{% endblock %}