{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- favicon-16x16.png - The classic favicon, displayed in the tabs. -->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'img/icon.png' %}"
      sizes="16x16"
    />
    <!-- favicon-32x32.png - For Safari on Mac OS. -->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'img/icon32.png' %}"
      sizes="32x32"
    />
    <title>Monify-App - kontroluj mądrze swoje wydatki</title>
  </head>
  <body class="bg-purple-600 min-h-screen pt-5 pb-5 px-2 md:px-0">
    <div>
        <a href="{% url 'website:index' %}" class="text-xl ml-5 text-white"
          ><i class="fa-solid fa-circle-chevron-left"></i>
          <span class="hidden md:inline-block">Powrót</span></a
        >
    </div>
    <div class="mx-auto">
      <a href="{% url 'website:index' %}">
        <img
          src="{% static 'img/whitelogo.png' %}"
          class="mx-auto w-32 h-28"
          alt="White logo Monify-App"
        />
      </a>
    </div>
    <main
      class="bg-white max-w-lg mx-auto p-8 md:p-12 my-8 rounded-lg shadow-2xl"
    >
      <section>
        {% block content %}
        {% endblock %}
      </section>
    </main>
  </body>
</html>
