{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- favicon-16x16.png - The classic favicon, displayed in the tabs. -->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'img/icon.png' %}"
      sizes="16x16"
    />
    <!-- favicon-32x32.png - For Safari on Mac OS. -->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'img/icon32.png' %}"
      sizes="32x32"
    />
    <title>Monify-App - kontroluj mądrze swoje wydatki</title>
  </head>
  <body class="bg-purple-600 min-h-screen pt-5 pb-5 px-2 md:px-0">
    <div>
      <a href="{% url 'website:index' %}" class="text-xl ml-5 text-white"
        ><i class="fa-solid fa-circle-chevron-left"></i>
        <span class="hidden md:inline-block">Powrót</span></a
      >
    </div>
    <div class="mx-auto">
      <img
        src="{% static 'img/whitelogo.png' %}"
        class="mx-auto w-32 h-28"
        alt="White logo Monify-App"
      />
    </div>
    <main
      class="bg-white max-w-lg mx-auto p-8 md:p-12 my-8 rounded-lg shadow-2xl"
    >
      <section class="">
        {% block title %}
        {% endblock %}
        {% if messages %}
        <div class="mb-2">
          {% for message in messages %}
          <div
            class="mt-3 flex{% if message.tags == 'warning' %} bg-red-200{% elif message.tags == 'success' %} bg-green-200 {% endif %} rounded-lg"
          >
            <p
              class="mx-auto px-2 py-2 text-xl{% if message.tags == 'warning' %} text-red-600{% elif message.tags == 'success' %} text-green-600 {% endif %}"
            >
              {{ message }}
            </p>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <div class="mt-10">
            {% block content %}
            {% endblock %}
        </div>
      </section>
    </main>
    {% block js %}
    {% endblock %}
  </body>
</html>
