{% extends 'base.html' %}

{% block content %}
<!-- Upload File Section Form-->
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">
        <h1>{{ object.name }}</h1>
        <ul>
            <li>Data utworzenia konta: {{ object.created_at| date:"d/m/y" }}</li>
            {% if object.repetition_end %}
              <li>End: {{ object.repetition_end|date }}</li>
            {% endif %}
            <li>Type: {{ object.get_type_display }}</li>
            <li>Value: {{ object.value }} {{ user_currency }}</li>
            {% if detail_what != 'Balance' %}
              <li>Repetitive: {{ object.repetitive }}</li>
              {% if object.repetitive %}
                <li>Every: {{ object.repetition_time }} {{ object.get_repetition_interval_display }}</li>  
              {% endif %}
            {% endif %}
        </ul>
        {% if detail_what == 'Income' %}
          <a href="{% url 'finances:income_update' object.pk %}">Update</a>
          <a href="{% url 'finances:income_delete' object.pk %}">Delete</a>
        {% elif detail_what == 'Outcome' %}
          <a href="{% url 'finances:outcome_update' object.pk %}">Update</a>
          <a href="{% url 'finances:outcome_delete' object.pk %}">Delete</a>
        {% elif detail_what == 'Balance' %}
          <a href="{% url 'finances:balance_update' object.pk %}">Update</a>
          <a href="{% url 'finances:balance_delete' object.pk %}">Delete</a>
        {% endif %}
      </div>
    </div>
{% endblock %}