{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container"
    x-data="alpineInstance()"
    x-init="fetch('/finances/get_summary_data')
            .then(response => response.json())
            .then(data => summary_data = data)"
  >
    <h1 class="text-3xl my-7 mx-10 font-bold"><span id="greeting"></span>, {{ user.first_name }}</h1>
    <div class="text-gray-600 grid grid-rows-1 my-14">
      <div class="grid md:grid-cols-4 gap-8 md:mx-5">
        <div
          class="bg-purple-600 text-white col-span-2 mx-2 border border-purple-700 shadow-xl p-8 rounded-lg"
        >
        <div class="p-6 mx-auto my-auto lg:grid lg:grid-cols-2 gap-1">
          <div class="">
            <h1 class="mx-auto mb-6 text-4xl">Aktualny stan konta</h1>
            <p class="mx-auto text-3xl mb-2"
              x-text="summary_data.total_balance + ' ' + summary_data.user_currency">0000,00 zł</p>
          </div>
          <div class="hidden 2xl:block">
            <i
              class="ml-28 fa-solid fa-credit-card text-9xl text-purple-700"
            ></i>
          </div>
        </div>
        </div>
        <div
          class="bg-purple-600 text-white col-span-2 mx-2 border border-purple-700 shadow-xl p-8 rounded-lg"
        >
        <div class="p-6 mx-auto my-auto lg:grid lg:grid-cols-2 gap-1">
          <div class="">
            <h1 class="mx-auto mb-6 text-4xl">Twoje oszczędności</h1>
            <p class="mx-auto text-3xl mb-2"
              x-text="summary_data.total_savings + ' ' + summary_data.user_currency">0000,00 zł</p>
          </div>
          <div class="hidden 2xl:block">
            <i
              class="ml-28 fa-solid fa-sack-dollar text-9xl text-purple-700"
            ></i>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="text-gray-600 grid grid-rows-1 my-14">
      <div class="grid md:grid-cols-4 gap-5 xl:gap-8 xl:mx-5">
        <div
          class="mx-auto w-3/4 md:w-auto border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Przychody</h1>
          <p class="text-xs mb-3" x-text="'Od początku miesiąca ' + '(' + summary_data.actual_month + ')'"></p>
          <p class="text-lg text-green-500" x-text="summary_data.total_income + ' ' + summary_data.user_currency"></p>
        </div>
        <div
          class="mx-auto w-3/4 md:w-auto border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Wydatki</h1>
          <p class="text-xs mb-3" x-text="'Od początku miesiąca ' + '(' + summary_data.actual_month + ')'"></p>
          <p class="text-lg text-red-500" x-text="'- ' + summary_data.total_outcome + ' ' + summary_data.user_currency"></p>
        </div>
        <div
          class="mx-auto w-3/4 md:w-auto border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Przychody (dzisiaj)</h1>
          <p class="text-lg text-green-500 mt-7" x-text="summary_data.today_total_income + ' ' + summary_data.user_currency"></p>
        </div>
        <div
          class="mx-auto w-3/4 md:w-auto border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Wydatki (dzisiaj)</h1>
          <p class="text-lg text-red-500 mt-7" x-text="'- ' + summary_data.today_total_outcome + ' ' + summary_data.user_currency"></p>
        </div>
      </div>
    </div>
    <div class="text-gray-600 grid grid-rows-1 my-14">
      <div class="grid md:grid-cols-4 gap-8 md:mx-5">
        <div
          class="col-span-2 mx-8 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Ostatnie przychody:</h1>
          <template x-for="income in summary_data.last_five_incomes" :key="income.id">
            <div class="grid grid-cols-3 my-3 gap-4">
              <p x-text="income.type"></p>
              <p class="text-gray-400" x-text="income.date">20.12.222</p>
              <p class="text-green-500" x-text="income.value + ' ' + summary_data.user_currency">3000 zł</p>
            </div>
          </template>
        </div>
        <div
          class="col-span-2 mx-8 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Ostatnie wydatki:</h1>
          <template x-for="outcome in summary_data.last_five_outcomes" :key="outcome.id">
            <div class="grid grid-cols-3 my-3 gap-4">
              <p x-text="outcome.type"></p>
              <p class="text-gray-400" x-text="outcome.date">20.12.222</p>
              <p class="text-red-500" x-text="'- ' + outcome.value + ' ' + summary_data.user_currency">- 60 zł</p>
            </div>
          </template>
        </div>
      </div>
    </div>

    <div class="text-gray-600 my-14">
      <div class="md:mx-5">
        <div
          class="mx-8 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Wykres przychody kontra wydatki</h1>
          <div class="card-body flex">
            <div class="chart-area w-full">
                <canvas id="year_chart_canvas"></canvas>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/common_charts.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
