{% block content %}

  <div>
    <div class="flex justify-between items-center pb-3 mt-5">
      <p class="text-2xl font-bold">Generuj raport</p>
      <div class="cursor-pointer z-50" @click="showModal = false">
        <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
        </svg>
      </div>
    </div>
    {% if raport_object == 'incomes' or raport_object == 'outcomes' %}
      <div class="">
        <div class="mb-1 rounded mx-10 grid grid-cols-1" >
          <label for="start_date" class="my-3 text-gray-600">Data początkowa:</label>
          <input type="date" class="rounded-lg text-gray-600 focus:outline-none border border-gray-400 shadow-lg focus:border-gray-600 transition duration-500 p-2" id="start_date" name="start_date">
        </div>
        <div class="mb-1 rounded mx-10 grid grid-cols-1" >
          <label for="end_date" class="my-3 text-gray-600">Data końcowa:</label>
          <input type="date" class="rounded-lg text-gray-600 focus:outline-none border border-gray-400 shadow-lg focus:border-gray-600 transition duration-500 p-2" id="end_date" name="end_date">
        </div>
      </div>
    {% endif %}

    <!--Footer-->
    <div class="mb-1 rounded mx-10 grid grid-cols-1">
      <button type="submit" class="my-3 modal-close px-4 bg-purple-500 hover:bg-purple-400 p-2 rounded-lg text-white " id="download_CSV">Pobierz CSV</button>
    </div>
  </div>

{% endblock %}

{% block js %}
{% if raport_object == 'incomes' %}
<script>
    $('#download_CSV').on('click', function() {
      let start_date = $('#start_date').val()
      let end_date = $('#end_date').val()
      window.location = `/finances/generate_CSV?get_what=incomes&start_date=${start_date}&end_date=${end_date}`;
    });
</script>
{% elif raport_object == 'outcomes' %}
<script>
   $('#download_CSV').on('click', function() {
      let start_date = $('#start_date').val()
      let end_date = $('#end_date').val()
      window.location = `/finances/generate_CSV?get_what=outcomes&start_date=${start_date}&end_date=${end_date}`;
    });
</script>
{% else %}
<script>
   $('#download_CSV').on('click', function() {
      let start_date = $('#start_date').val()
      let end_date = $('#end_date').val()
      window.location = `/finances/generate_CSV?get_what=balances`;
    });
</script>
{% endif %}

{% endblock %}
