{% extends 'base.html' %}


{% block content %}
<div class="container"
    x-data="alpineInstance()"
    x-init="fetch('/finances/get_savings_data')
            .then(response => response.json())
            .then(data => users = data)"
  >
    <h1 class="text-4xl my-7 mx-10">Oszczędności</h1>
    <div
      class="bg-purple-600 text-white shadow-xl border border-purple-700 my-10 mx-10 rounded-xl md:w-11/12"
    >
      <div class="p-10 mx-auto my-auto lg:grid lg:grid-cols-2 gap-1">
        <div class="">
          <h1 class="mx-auto mb-6 text-4xl">Twoje oszczędności:</h1>
          <p class="mx-auto text-3xl mb-2"
            x-text="users.total_savings_balance + ' zł'">0000,00 zł</p>
          <!-- <p class="mx-auto text-xs">Data utworzenia konta: 20/05/2022</p> -->
          <p class="mx-auto text-md">Wszystkie konta oszczędnościowe</p>
        </div>
        <div class="hidden 2xl:block">
          <i
            class="ml-80 fa-solid fa-sack-dollar text-9xl text-purple-700"
          ></i>
        </div>
      </div>
    </div>
    <div class="text-gray-600 grid grid-rows-1 my-14">
      <div class="grid md:grid-cols-4 gap-5 xl:gap-8 xl:mx-5">
        <div
          class="mx-auto border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Akcje</h1>
          
          <!-- <p class="text-lg text-green-500" x-text="users.total_income + ' zł'">100 zł</p> -->
          <p class="text-2xl my-2">1000 zł</p>
          <p class="text-xs mb-3" x-text="'Od początku miesiąca ' + '(' + users.actual_month + ')'"></p>
          <p class="text-md">+ 100 zł <span><i class="text-green-500 fa-solid fa-caret-up"></i></span></p>
        </div>
        <div
          class="mx-auto border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Kryptowaluty</h1>
          <p class="text-2xl my-2">1000 zł</p>
          <p class="text-xs mb-3" x-text="'Od początku miesiąca ' + '(' + users.actual_month + ')'"></p>
          <p class="text-md">+ 100 zł <span><i class="text-green-500 fa-solid fa-caret-up"></i></span></p>
        </div>
        <div
          class="mx-auto border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Obligacje</h1>
          <p class="text-2xl my-2">1000 zł</p>
          <p class="text-xs mb-3" x-text="'Od początku miesiąca ' + '(' + users.actual_month + ')'"></p>
          <p class="text-md">+ 100 zł <span><i class="text-green-500 fa-solid fa-caret-up"></i></span></p>
        </div>
        <div
          class="mx-auto border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Lokata</h1>
          <p class="text-2xl my-2">1000 zł</p>
          <p class="text-xs mb-3" x-text="'Od początku miesiąca ' + '(' + users.actual_month + ')'"></p>
          <p class="text-md">+ 100 zł <span><i class="text-green-500 fa-solid fa-caret-up"></i></span></p>
        </div>
      </div>
    </div>
    <div class="text-gray-600 grid grid-rows-1 my-14">
      <div class="grid md:grid-cols-4 gap-5 xl:gap-8 xl:mx-5">
        <div
          class="mx-auto border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Surowce</h1>
          
          <!-- <p class="text-lg text-green-500" x-text="users.total_income + ' zł'">100 zł</p> -->
          <p class="text-2xl my-2">1000 zł</p>
          <p class="text-xs mb-3" x-text="'Od początku miesiąca ' + '(' + users.actual_month + ')'"></p>
          <p class="text-md">+ 100 zł <span><i class="text-green-500 fa-solid fa-caret-up"></i></span></p>
        </div>
        <div
          class="mx-auto border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Inne oszczędności</h1>
          <p class="text-2xl my-2">1000 zł</p>
          <p class="text-xs mb-3" x-text="'Od początku miesiąca ' + '(' + users.actual_month + ')'"></p>
          <p class="text-md">+ 100 zł <span><i class="text-green-500 fa-solid fa-caret-up"></i></span></p>
        </div>
        <div
          class="mx-auto border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Nieruchomości</h1>
          <p class="text-2xl my-2">1000 zł</p>
          <p class="text-xs mb-3" x-text="'Od początku miesiąca ' + '(' + users.actual_month + ')'"></p>
          <p class="text-md">+ 100 zł <span><i class="text-green-500 fa-solid fa-caret-up"></i></span></p>
        </div>
        <div
          class="mx-auto border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Waluty</h1>
          <p class="text-2xl my-2">1000 zł</p>
          <p class="text-xs mb-3" x-text="'Od początku miesiąca ' + '(' + users.actual_month + ')'"></p>
          <p class="text-md">+ 100 zł <span><i class="text-green-500 fa-solid fa-caret-up"></i></span></p>
        </div>
      </div>
    </div>
    <div class="text-gray-600 grid grid-rows-1 my-14">
      <div class="grid md:grid-cols-4 gap-8 md:mx-5">
        <div
          class="col-span-2 mx-8 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Ostatnie przychody:</h1>
          <p class="text-xs mb-3" x-text="'Od początku miesiąca ' + '(' + users.actual_month + ')'"></p>
          <template x-for="income in users.last_five_incomes" :key="income.id">
            <div class="grid grid-cols-3 my-3 gap-4">
              <p x-text="income.type"></p>
              <p class="text-gray-400" x-text="income.date">20.12.222</p>
              <p class="text-green-500" x-text="income.value">3000 zł</p>
            </div>
          </template>
        </div>
        <div
          class="col-span-2 mx-8 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Ostatnie wydatki:</h1>
          <p class="text-xs mb-3" x-text="'Od początku miesiąca ' + '(' + users.actual_month + ')'"></p>
          <template x-for="outcome in users.last_five_outcomes" :key="outcome.id">
            <div class="grid grid-cols-3 my-3 gap-4">
              <p x-text="outcome.type"></p>
              <p class="text-gray-400" x-text="outcome.date">20.12.222</p>
              <p class="text-red-500" x-text="'- ' + outcome.value + ' zł'">- 60 zł</p>
              <!-- <p>Netflix</p>
              <p>20.12.222</p>
              <p>60 zł</p> -->
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
    const $greeting = $('#greeting');
    const hour = new Date().getHours();

    if (hour < 18) $greeting.text('Dzień dobry');
    else $greeting.text('Dobry wieczór');
    
  function alpineInstance() {
    return {
      title: 'Alpine.js',
      intro:
        'Implement a simple <code class="text-md text-pink-600">fetch()</code> request to render a list of items using Alpine.js :)',
      users: []
    };
}
</script>
{% endblock %}