{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div
    class="container"
    x-data="alpineInstance()"
    x-init="fetch('/finances/get_statistics_data')
              .then(response => response.json())
              .then(data => stats_data = data)"
  >
    <!-- Title -->
    <h1 class="text-3xl my-7 mx-10 font-bold">Statystyki</h1>
    <div class="text-gray-600 grid grid-rows-1 my-14">
      <div class="grid md:grid-cols-4 gap-5 xl:gap-8 xl:mx-5">
        <!-- Average outcomes per year -->
        <div
          class="mx-auto w-9/12 border border-gray-700 border-b-purple-700 bg-red-200 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Rok (śred.)</h1>
          <p
            class="text-xl text-red-600"
            x-text="'- ' + stats_data.average_outcomes_per_year + ' ' + stats_data.user_currency"
          ></p>
        </div>
        <!-- Average incomes per year -->
        <div
          class="mx-auto w-9/12 border border-gray-700 border-b-purple-700 bg-green-200 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Rok (śred.)</h1>
          <p
            class="text-xl text-green-600"
            x-text="stats_data.average_incomes_per_year + ' ' + stats_data.user_currency"
          ></p>
        </div>
        <!-- Average outcomes per month -->
        <div
          class="mx-auto w-9/12 bg-red-200 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Miesiąc (śred.)</h1>
          <p
            class="text-xl text-red-600"
            x-text="'- ' + stats_data.average_outcomes_per_month + ' ' + stats_data.user_currency"
          ></p>
        </div>
        <!-- Average incomes per month -->
        <div
          class="mx-auto w-9/12 bg-green-200 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Miesiąc (śred.)</h1>
          <p
            class="text-xl text-green-600"
            x-text="stats_data.average_incomes_per_month + ' ' + stats_data.user_currency"
          ></p>
        </div>
      </div>
    </div>
    <div class="text-gray-600 grid grid-rows-1 my-14">
      <div class="grid md:grid-cols-4 gap-5 xl:gap-8 xl:mx-5">
        <!-- Average outcomes per week -->
        <div
          class="mx-auto w-9/12 border border-gray-700 border-b-purple-700 bg-red-200 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Tydzień (śred.)</h1>
          <p
            class="text-xl text-red-600"
            x-text="'- ' + stats_data.average_outcomes_per_week + ' ' + stats_data.user_currency"
          ></p>
        </div>
        <!-- Average incomes per week -->
        <div
          class="mx-auto w-9/12 border border-gray-700 border-b-purple-700 bg-green-200 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Tydzień (śred.)</h1>
          <p
            class="text-xl text-green-600"
            x-text="stats_data.average_incomes_per_week + ' ' + stats_data.user_currency"
          ></p>
        </div>
        <!-- Average outcomes per day -->
        <div
          class="mx-auto w-9/12 bg-red-200 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Dzień (śred.)</h1>
          <p
            class="text-xl text-red-600"
            x-text="'- ' + stats_data.average_outcomes_per_day + ' ' + stats_data.user_currency"
          ></p>
        </div>
        <!-- Average incomes per day -->
        <div
          class="mx-auto w-9/12 bg-green-200 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <h1 class="text-lg font-bold">Dzień (śred.)</h1>
          <p
            class="text-xl text-green-600"
            x-text="stats_data.average_incomes_per_day + ' ' + stats_data.user_currency"
          ></p>
        </div>
      </div>
    </div>
    <div class="text-gray-600 my-14 md:w-full w-3/6">
      <div class="grid md:grid-cols-4 gap-8 md:mx-5">
        <!-- Donought chart - incomes by type -->
        <div
          class="col-span-2 mx-1 md:mx-8 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <div class="grid grid-rows-1">
            <div>
              <h1 class="text-lg font-bold mb-4">Przychody wg. kategorii</h1>
              <select
                class="uppercase bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                id="chart-time-type-income"
              >
                <option value="week">tydzień</option>
                <option value="mon1">miesiąc</option>
                <option value="mon3">3 miesiące</option>
                <option value="mon6">6 miesięcy</option>
                <option value="year1" selected>bieżący rok</option>
                <option value="all">Wszystko</option>
              </select>
              <select
                class="uppercase bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                id="chart-view-type-income"
              >
                <option value="amount" selected>kwota</option>
                <option value="percentage">procentowo</option>
              </select>
            </div>
          </div>
          <div class="card-body flex">
            <div class="chart-area w-full">
              <canvas id="income_by_type"></canvas>
            </div>
          </div>
        </div>
        <!-- Donought chart - outcomes by type -->
        <div
          class="col-span-2 mx-1 md:mx-8 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <div class="grid grid-rows-1">
            <div>
              <h1 class="text-lg font-bold mb-4">Wydatki wg. kategorii</h1>
              <select
                class="uppercase bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                id="chart-time-type-outcome"
              >
                <option value="week">tydzień</option>
                <option value="mon1">miesiąc</option>
                <option value="mon3">3 miesiące</option>
                <option value="mon6">6 miesięcy</option>
                <option value="year1" selected>bieżący rok</option>
                <option value="all">Wszystko</option>
              </select>
              <select
                class="uppercase bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                id="chart-view-type-outcome"
              >
                <option value="amount" selected>kwota</option>
                <option value="percentage">procentowo</option>
              </select>
            </div>
          </div>
          <div class="card-body flex">
            <div class="chart-area w-full">
              <canvas id="outcome_by_type"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-gray-600 grid grid-rows-1 my-14">
      <div class="grid md:grid-cols-4 gap-8 md:mx-5">
        <!-- Bar chart - incomes -->
        <div
          class="col-span-2 mx-1 md:mx-8 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <div class="grid grid-rows-1">
            <div>
              <h1 class="text-lg font-bold mb-4">Przychody</h1>
              <select
                class="uppercase mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                id="bar-chart-time-type-income"
              >
                <option value="week">tydzień</option>
                <option value="mon1">miesiąc</option>
                <option value="mon3">3 miesiące</option>
                <option value="mon6">6 miesięcy</option>
                <option value="year1" selected>bieżący rok</option>
              </select>
            </div>
          </div>
          <div class="card-body flex">
            <div class="chart-area w-full">
              <canvas id="income_bar_chart"></canvas>
            </div>
          </div>
        </div>
        <!-- Bar chart - outcomes -->
        <div
          class="col-span-2 mx-1 md:mx-8 border border-gray-700 border-b-purple-700 border-b-4 shadow-lg p-8 rounded-lg"
        >
          <div class="grid grid-rows-1">
            <div>
              <h1 class="text-lg font-bold mb-4">Wydatki</h1>
              <select
                class="uppercase mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                id="bar-chart-time-type-outcome"
              >
                <option value="week">tydzień</option>
                <option value="mon1">miesiąc</option>
                <option value="mon3">3 miesiące</option>
                <option value="mon6">6 miesięcy</option>
                <option value="year1" selected>bieżący rok</option>
              </select>
            </div>
          </div>
          <div class="card-body flex">
            <div class="chart-area w-full">
              <canvas id="outcome_bar_chart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/stats.js' %}"></script>
{% endblock %}
